// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$primary: #a52c00;
$p-color: #727171;

// fonts
@font-face {
  font-family: "caslon-bold";
  src: url("#{$fa-font-path}/ACaslonPro-Bold.woff2") format("woff2"),
    url("#{$fa-font-path}/ACaslonPro-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "caslon-regular";
  src: url("#{$fa-font-path}/ACaslonPro-Regular.woff2") format("woff2"),
    url("#{$fa-font-path}/ACaslonPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "caslon-semibold";
  src: url("#{$fa-font-path}/ACaslonPro-Semibold.woff2") format("woff2"),
    url("#{$fa-font-path}/ACaslonPro-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "apercu-regular";
  src: url("#{$fa-font-path}/apercu_regular_pro.woff2") format("woff2"),
    url("#{$fa-font-path}/apercu_regular_pro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "apercu-mono";
  src: url("#{$fa-font-path}/apercu_mono_pro.woff2") format("woff2"),
    url("#{$fa-font-path}/apercu_mono_pro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "apercu-bold";
  src: url("#{$fa-font-path}/apercu_bold_pro.woff2") format("woff2"),
    url("#{$fa-font-path}/apercu_bold_pro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "apercu-bolditalic";
  src: url("#{$fa-font-path}/apercu_bold_italic_pro.woff2") format("woff2"),
    url("#{$fa-font-path}/apercu_bold_italic_pro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "apercu-mediumitalic";
  src: url("#{$fa-font-path}/apercu_medium_italic_pro.woff2") format("woff2"),
    url("#{$fa-font-path}/apercu_medium_italic_pro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "apercu-medium";
  src: url("#{$fa-font-path}/apercu_medium_pro.woff2") format("woff2"),
    url("#{$fa-font-path}/apercu_medium_pro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "apercu-regularitalic";
  src: url("#{$fa-font-path}/apercu_regular_italic_pro.woff2") format("woff2"),
    url("#{$fa-font-path}/apercu_regular_italic_pro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
// make scss variable of all fonts
$font-family-apercu-regular: "apercu-regular";
$font-family-apercu-mono: "apercu-mono";
$font-family-apercu-bold: "apercu-bold";
$font-family-apercu-bolditalic: "apercu-bolditalic";
$font-family-apercu-mediumitalic: "apercu-mediumitalic";
$font-family-apercu-medium: "apercu-medium";
$font-family-apercu-regularitalic: "apercu-regularitalic";

header {
  background-color: $primary;

  nav {
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;

    .nav-container {
      display: flex;
      gap: 3em;

      ul.navbar {
        gap: 1em;
        padding: 0;
        margin: 0 auto;

        .nav-item {
          list-style: none;

          a {
            font-family: apercu-bold;
            color: #ffffff;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.hero {
  position: relative;

  #photosphere {
    margin: 0;
    width: 100%;
    height: 38em;
    position: absolute;

    pointer-events: auto !important;

    .psv-navbar {
      justify-content: end;
      background: none;
    }
  }

  .overlay-photosphere {
    background: linear-gradient(
      90.09deg,
      rgba(0, 33, 71, 0.53) 24.92%,
      rgba(196, 196, 196, 0) 99.26%
    );
    pointer-events: none;
    height: 38em;
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;

    .divider {
      margin-bottom: 2.5em;
    }

    .h1 {
      font-family: caslon-regular;
      font-size: 3.6em;
      color: #ffffff;
      margin: 0 0 0 1em;
      padding: 0;
    }

    .h1-bold {
      font-family: caslon-bold;
      font-size: 4em;
    }
  }
}

.testimonial-slider {
  max-width: 17em;
}

.img-container {
  max-width: 100px;

  max-height: 100px;
  margin: 1em auto;
  margin-bottom: 0.5em;

  img {
    border-radius: 10em;
    object-fit: cover;
    height: 100px;
    width: 100px;
  }
}

.testimonial {
  max-width: 17em;
}

.slick-dots {
  margin: unset;
  padding: unset;
  list-style: none;
  display: flex;
  justify-content: center;
//   margin-top: 1em;
}

.slick-dots button::after {
  content: none;
}

.slick-dots button {
  padding: 0;
  margin: 0 10px;
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  border-color: transparent !important;
  transition: all ease 0.3s;
}

.slick-dots .slick-active button {
  background: $primary;
}

.slick-arrow {
  display: none !important;
}

.testimonial-author {
  text-align: center;
}
.why-kes {
  margin-top: 1.4em;
}
.testimonial-text {
  padding: 0.5em;
  text-align: left;
  font-size: 0.8em;
  max-width: 16.5em;
  margin: 0 auto;
  font-family: $font-family-apercu-regular;
  line-height: 1em;
  letter-spacing: 0.04em;
  margin-top: 1.6em;
}

.testimonial-container {
  max-width: 17em;
  background: #555555;
  color: #f2f2f2;
  border-radius: 0 2em 0 6.3em;
  margin-bottom: 10em;
  margin-top: -2em;
  z-index: 33;
  position: relative;
  height: 26.5em;
}

.testimonial-title {
  height: 3.8em;
  background: $primary;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 2em 0 0;
  span {
    font-size: 1.5em;
    letter-spacing: 3px;
  }
}

.name {
  font-size: 0.8em;
  font-family: $font-family-apercu-bold;
  letter-spacing: 0.105em;
  text-transform: capitalize;
}

.testimonial-author-about {
  font-size: 0.43em;
  text-align: left;
  font-family: $font-family-apercu-mono;
}

.testimonial-author {
  width: fit-content;
  margin: 0 auto;
}

#quotes-icon {
  position: absolute;
  margin: 9.5em 1em;
}

.container.sub-hero {
  display: flex;
  flex-direction: row;
  grid-gap: 2.8em;
  text-align: justify;
}

.why-kes {
  h3 {
    font-family: $font-family-apercu-bold;
    font-size: 1.5em;
    color: #868686;
    span {
      color: $primary;
    }
  }

  .description {
    font-family: $font-family-apercu-regular;
    font-size: 1.13em;
    line-height: 1.4em;
    letter-spacing: 0.03em;
    color: $p-color;
  }
}

.slick-dots li {
  display: none;
}
.slick-dots li.slick-active,
.slick-dots li.slick-active + li,
.slick-dots li.slick-active + li + li {
  display: block;
}

.slick-dots li:nth-last-child(1),
.slick-dots li:nth-last-child(2),
.slick-dots li:nth-last-child(3) {
  display: block;
}

.slick-dots li.slick-active ~ li:nth-last-child(1),
.slick-dots li.slick-active ~ li:nth-last-child(2),
.slick-dots li.slick-active ~ li:nth-last-child(3) {
  display: none;
}
.slick-dots li.slick-active + li + li:nth-last-child(3),
.slick-dots li.slick-active + li + li:nth-last-child(2),
.slick-dots li.slick-active + li + li:nth-last-child(1),
.slick-dots li.slick-active + li:nth-last-child(3),
.slick-dots li.slick-active + li:nth-last-child(2),
.slick-dots li.slick-active + li:nth-last-child(1) {
  display: block;
}
