// This is an rempty scss file for your custom styles - Please add your super duper awesome mega design styles here

$primary: #a52c00;
$p-color: #727171;

// fonts
@font-face {
  font-family: "caslon-bold";
  src: url("#{$fa-font-path}/ACaslonPro-Bold.woff2") format("woff2"),
    url("#{$fa-font-path}/ACaslonPro-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "caslon-regular";
  src: url("#{$fa-font-path}/ACaslonPro-Regular.woff2") format("woff2"),
    url("#{$fa-font-path}/ACaslonPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "caslon-semibold";
  src: url("#{$fa-font-path}/ACaslonPro-Semibold.woff2") format("woff2"),
    url("#{$fa-font-path}/ACaslonPro-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "apercu-regular";
  src: url("#{$fa-font-path}/apercu_regular_pro.woff2") format("woff2"),
    url("#{$fa-font-path}/apercu_regular_pro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "apercu-mono";
  src: url("#{$fa-font-path}/apercu_mono_pro.woff2") format("woff2"),
    url("#{$fa-font-path}/apercu_mono_pro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "apercu-bold";
  src: url("#{$fa-font-path}/apercu_bold_pro.woff2") format("woff2"),
    url("#{$fa-font-path}/apercu_bold_pro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "apercu-bolditalic";
  src: url("#{$fa-font-path}/apercu_bold_italic_pro.woff2") format("woff2"),
    url("#{$fa-font-path}/apercu_bold_italic_pro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "apercu-mediumitalic";
  src: url("#{$fa-font-path}/apercu_medium_italic_pro.woff2") format("woff2"),
    url("#{$fa-font-path}/apercu_medium_italic_pro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "apercu-medium";
  src: url("#{$fa-font-path}/apercu_medium_pro.woff2") format("woff2"),
    url("#{$fa-font-path}/apercu_medium_pro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "apercu-regularitalic";
  src: url("#{$fa-font-path}/apercu_regular_italic_pro.woff2") format("woff2"),
    url("#{$fa-font-path}/apercu_regular_italic_pro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
// make scss variable of all fonts
$font-family-apercu-regular: "apercu-regular";
$font-family-apercu-mono: "apercu-mono";
$font-family-apercu-bold: "apercu-bold";
$font-family-apercu-bolditalic: "apercu-bolditalic";
$font-family-apercu-mediumitalic: "apercu-mediumitalic";
$font-family-apercu-medium: "apercu-medium";
$font-family-apercu-regularitalic: "apercu-regularitalic";

header {
  background-color: $primary;

  nav {
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;

    .nav-container {
      display: flex;
      gap: 3rem;

      ul.navbar {
        gap: 1rem;
        padding: 0;
        margin: 0 auto;

        .nav-item {
          list-style: none;

          a {
            font-family: apercu-bold;
            color: #ffffff;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.hero {
  position: relative;

  #photosphere {
    margin: 0;
    width: 100%;
    height: 38rem;
    position: absolute;

    pointer-events: auto !important;

    .psv-navbar {
      justify-content: end;
      background: none;
    }
  }

  .overlay-photosphere {
    background: linear-gradient(
      90.09deg,
      rgba(0, 33, 71, 0.53) 24.92%,
      rgba(196, 196, 196, 0) 99.26%
    );
    pointer-events: none;
    height: 38rem;
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;

    .divider {
      margin-bottom: 2.5rem;
    }

    .h1 {
      font-family: caslon-regular;
      font-size: 3.6rem;
      color: #ffffff;
      margin: 0 0 0 1rem;
      padding: 0;
    }

    .h1-bold {
      font-family: caslon-bold;
      font-size: 4rem;
    }
  }
}

.testimonial-slider {
  max-width: 17rem;
}

.img-container {
  max-width: 100px;

  max-height: 100px;
  margin: 1rem auto;
  margin-bottom: 0.5rem;

  img {
    border-radius: 10rem;
    object-fit: cover;
    height: 100px;
    width: 100px;
  }
}

.testimonial {
  max-width: 17rem;
}

.slick-dots {
  margin: unset;
  padding: unset;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: -2rem;
  //   margin-top: 1rem;
}

.slick-dots button::after {
  content: none;
}

.slick-dots button {
  padding: 0;
  margin: 0 10px;
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  border-color: transparent !important;
  transition: all ease 0.3s;
}

.slick-dots .slick-active button {
  background: $primary;
}

.slick-arrow {
  display: none !important;
}

.testimonial-author {
  text-align: center;
}
.why-kes {
  margin-top: 1.4rem;
}
.testimonial-text {
  padding: 1rem;
  //   text-align: left;
  font-size: 0.8rem;
  max-width: 15.2rem;
  margin: 0 auto;
  font-family: $font-family-apercu-regular;
  line-height: 1rem;
  letter-spacing: 0.04rem;
  margin-top: 1rem;
}

.testimonial-container {
  max-width: 17rem;
  background: #555555;
  color: #f2f2f2;
  border-radius: 0 2rem 0 6.3rem;
  margin-bottom: 10rem;
  margin-top: -2rem;
  z-index: 33;
  position: relative;
  height: 26.5rem;
}

.testimonial-title {
  height: 3.8rem;
  background: $primary;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 2rem 0 0;
  span {
    font-size: 1.5rem;
    letter-spacing: 3px;
  }
}

.name {
  font-size: 0.8rem;
  font-family: $font-family-apercu-bold;
  letter-spacing: 0.105rem;
  text-transform: capitalize;
}

.testimonial-author-about {
  font-size: 0.43rem;
  text-align: left;
  font-family: $font-family-apercu-mono;
}

.testimonial-author {
  width: fit-content;
  margin: 0 auto;
}

#quotes-icon {
  position: absolute;
  margin: 9.5rem 1rem;
}

.container.sub-hero {
  display: flex;
  flex-direction: row;
  grid-gap: 2.8rem;
  text-align: justify;
}

.why-kes {
  h3 {
    font-family: $font-family-apercu-bold;
    font-size: 1.5rem;
    color: #868686;
    span {
      color: $primary;
    }
  }

  .description {
    font-family: $font-family-apercu-regular;
    font-size: 1.13rem;
    line-height: 1.4rem;
    letter-spacing: 0.03rem;
    color: $p-color;
    max-height: 336px;
    overflow-y: clip;
  }
}

.slick-dots li {
  display: none;
}
.slick-dots li.slick-active,
.slick-dots li.slick-active + li,
.slick-dots li.slick-active + li + li {
  display: block;
}

.slick-dots li:nth-last-child(1),
.slick-dots li:nth-last-child(2),
.slick-dots li:nth-last-child(3) {
  display: block;
}

.slick-dots li.slick-active ~ li:nth-last-child(1),
.slick-dots li.slick-active ~ li:nth-last-child(2),
.slick-dots li.slick-active ~ li:nth-last-child(3) {
  display: none;
}
.slick-dots li.slick-active + li + li:nth-last-child(3),
.slick-dots li.slick-active + li + li:nth-last-child(2),
.slick-dots li.slick-active + li + li:nth-last-child(1),
.slick-dots li.slick-active + li:nth-last-child(3),
.slick-dots li.slick-active + li:nth-last-child(2),
.slick-dots li.slick-active + li:nth-last-child(1) {
  display: block;
}

.news-and-events-container {
  .heading {
    margin: 0 auto;
    width: fit-content;
  }
  .events-container {
    display: flex;
    grid-gap: 2.7rem;
    flex-wrap: wrap;
  }
  .event {
    max-width: 20rem;
    display: flex;
    margin: 0 auto;
    align-items: flex-end;
  }

  background: #f1f1f1;
  padding: 3rem 0;
  margin-bottom: 10rem;

  .event-details {
    background: #fff;
    max-width: 16.5rem;
    padding: 0.8rem;
    min-height: 8.3rem;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  }

  .event-date-day {
    height: 54px;
    background: $primary;
    text-align: center;

    width: 54px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: caslon-bold;
    .month {
        text-transform: uppercase;
        letter-spacing: 1px;
    }
  }
  .event-details-title {
    font-size: 0.8rem;
    text-transform: uppercase;
    line-height: 0.87rem;
    font-family: $font-family-apercu-regular;
    margin-bottom: 0.4rem;
    margin-top: 0.2rem;
  }
  .event-description {
    font-family: $font-family-apercu-regular;
    font-size: 0.75rem;
    line-height: 0.75rem;
    letter-spacing: 0.015rem;
    font-size: 0.75rem;
    margin: 0;
    color: $p-color;
  }
  p {
    padding: 0;
    margin: 0;
  }
  .detail {
    height: 54px;
    width: 54px;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: center;
    color: #384D76;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    span{
        font-family: $font-family-apercu-regular;
    }
}
.detail::before {
    content: "\f138";
    font-family: 'FontAwesome';
}
#event-btn{
    font-family: $font-family-apercu-regular;
    font-size: 10px;
    
}
}
